.main{
    display: grid;
    grid-template-rows: 100px 350px 40px 1fr 75px;
}
.C1{
   background-color: aqua;
   display: grid;
   grid-template-columns: 200px 1fr;
}
.C1-1{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.C1-2{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    align-items: end;
}
.H{
    font-weight: 400;
    margin-right: 10px;
    margin-bottom: 2px;
}
.C2{
    display: grid;
    grid-template-columns: 1fr 1fr;
   background-color: blue;
}
.C2-1{
    background-color: #2B343D;
    padding: 100px;
    

}
.C2-1-ex{
   font-weight: bolder;
   font-size: x-large;
   color: white;
   padding-bottom: 10px;

   

}
.C2-2-ex{
font-size: large;
font-weight: bolder;
color: #57707C;
margin-top:;

}
.C2-2{
    background-color: #2B343D;
    padding-left: 20%;
}
.C3{
background-color: rgb(255, 255, 255);
}
.C4{
background-color: violet;
}
.C5{
background-color: brown;
}
