.main-con{
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 146);
    gap: 10px;
    padding: 40px;
    flex-wrap: wrap;
}
.con1{
    background-color: rgb(112, 112, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;

}
section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;


}
.con2{
    background-color: rgb(112, 112, 255);
    padding: 120px;
    
}
.con3{
    background-color: rgb(112, 112, 255);
    padding: 250px;
}
.con4{
    background-color: rgb(112, 112, 255);
    padding: 120px;
    
}
.con5{
    background-color: rgb(112, 112, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;

}