.Main{
    display: grid;
    background-color: white;

}
.H{
    display: grid;
    display: inline;
    display: flex;
    justify-content: right;
}
.C1{
    display: grid;
    display: flex;
    justify-content: space-between;
    background-color: #2b343d;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
}
.C1-1{
    font-size: x-large;
    color: white;
}
.C1-{
    font-size: larger;
    color: #576976;
}